.about{
    padding-top: 100px;
    width: 100%;
    background-color: #0F0F0F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

h2{
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-me-paragraph-2{
    width: 500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.about-me-paragraph-1{
    width: 600px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white; 
    font-size: 1rem;
}

.about-section{
    display: flex;
    width: 900px;
    font-size: 1rem;
}

#about-me-word{
    color: #0EC1F9;
}


/* ============== responsive ================ */

@media screen and (min-width: 1024px) and (max-width: 1440px){
    .about-me-paragraph-2{
        width: 400px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
    }
    
    .about-me-paragraph-1{
        width: 500px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white; 
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .about-section{
        width: 700px;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .about-right-side{
        width: 300px;
    }
    .about-me-paragraph-1{
        width: 500px;
        text-align: center;
    }
    .about-me-paragraph-2{
        width: 500px;
        text-align: center;
    }
    .about{
        padding-bottom: 50px;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px){
    .about-section{
        width: 400px;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .about-right-side{
        width: 300px;
    }
    .about-me-paragraph-1{
        width: 400px;
        text-align: center;
    }
    .about-me-paragraph-2{
        width: 400px;
        text-align: center;
    }
    .about{
        padding-bottom: 50px;
    }
}

@media screen and (min-width: 375px) and (max-width: 424px){
    .about-section{
        width: 350px;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .about-right-side{
        width: 300px;
    }
    .about-me-paragraph-1{
        width: 350px;
        text-align: center;
    }
    .about-me-paragraph-2{
        width: 350px;
        text-align: center;
    }
    .about{
        padding-bottom: 50px;
    }
}

@media screen and (min-width: 320px) and (max-width: 374px){
    .about-section{
        width: 300px;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .about-right-side{
        width: 60vw;
    }
    .about-me-paragraph-1{
        width: 300px;
        text-align: center;
    }
    .about-me-paragraph-2{
        width: 300px;
        text-align: center;
    }
    .about{
        padding-bottom: 50px;
    }
}

@media screen and (min-width: 0px) and (max-width: 319px){
    .about-section{
        width: 95vw;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .about-right-side{
        width: 60vw;
    }
    .about-me-paragraph-1{
        width: 90vw;
        text-align: center;
    }
    .about-me-paragraph-2{
        width: 90vw;
        text-align: center;
    }
    .about{
        padding-bottom: 50px;
    }
}