.about{
    padding-top: 100px;
    width: 100%;
    background-color: #0F0F0F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-all{
    padding-top: 50px;
}

.about-in{
    display: flex;
    justify-content: space-around;
}

.about-image img{
    display: flex;
    justify-content: end;
}

.button-group{
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.about-me-details{
    width: 600px;
    color: white;
    text-align: center;
    align-items: center;
}

.about-me{
    display: flex;
    justify-content: center;
}

.main-skills{
    color: #0EC1F9;
}

a{
    text-decoration: none;
}

#main-skills{
    width: 500px;
    color: white;
}

#education{
    width: 500px;
    color: white;
}

.education{
    color: white;
}

.skil-set{
    display: flex;
    justify-content: center;
}

.education-set{
    opacity: 0;
    margin-top: -192px;
    display: flex;
    justify-content: center;
}