.contact{
    padding-top: 100px;
    background-color: #1D1D21;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contact img{
    margin-top: 50px;
    width: 90%;
}

.contract{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contract p{
    background-color: rgb(214, 214, 214 , 0.3);
    padding: 25px;
    border-radius: 10px;
    border: 1px solid white;
    font-weight: 900;

    text-align: center;
}

.contract p span{
    font-weight: 900;
    font-size: 1rem;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.contract p a{
    font-weight: 900;
    font-size: 1.2rem;
    color: #0EC1F9;
    text-shadow: 1px 1px 2px black;
}

.contact-left-side{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form{
    display: flex;
    gap: 10px;
}

.contact-left-side input{
    width: 350px;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(54, 54, 148, 0.3);
    color: white;
}

input::placeholder {
    color: red;
    font-size: 1rem;
    font-style: italic;
    opacity: 1;
}

textarea::placeholder{
    color: red;
    font-size: 1rem;
    font-style: italic;
    opacity: 1;
}

textarea{
    width: 350px;
    border-radius: 5px;
    background-color: rgba(54, 54, 148, 0.3);
    color: white;
}

form button{
    height: 30px;
    border-radius: 5px;
    background-color: rgb(16, 195, 249 , 0.5);
    border: 1px solid white;
    font-size: 1rem;
    font-weight: 900;
    font-style: italic;
}

@media screen and (min-width: 1440px){
    .contact img{
        margin-top: 50px;
        width: 70%;
    }
}