body{
    margin: 0px;
}

.header{
    width: 100%;
    background-color: #0F0F0F;
    position: fixed;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.25);
}

#head-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

i{
    color: #0EC1F9;
}

#head-bar-list{
    color: #FFFFFF;
    text-decoration: none;
    padding: 20px;

    display: flex;
    align-items: center;
}

#logoImg{
    width: 131px;
}

#head-icon{
    width: 25px;
    padding-right: 10px;
}

.headBar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

#talk-button{
    background-color: #0F0F0F;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    width: 84px;
    height: 24px;
}

#Social_icon{
    text-decoration: none;
    padding-left: 5px;
}

.logo-text1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 2rem;
}

.logo-text2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0EC1F9;
    font-weight: 600;
    font-size: 2rem;
}