body{
    margin: 0;
}

.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0F0F0F;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-text1{
    text-shadow: 1px 1px 2px #0EC1F9;
    font-weight: 900;
    font-size: 2em;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo-text2{
    text-shadow: 1px 1px 2px white;
    color: #0EC1F9;
    font-weight: 900;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#header-talk-btn{
    background-color: #0F0F0F;
    border: 1px solid white;
    width: 80px;
    height: 25px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#header-talk-btn:hover{
    background-color: white;
    color: black;
}

.nav-links-2{
    display: flex;
    gap: 5px;
    list-style: none;
    cursor: pointer;
}

.nav-links-2 li img{
    height: 25px;
    width: 25px;
    text-decoration: none;
}

.nav-links-1 li a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    gap: 5px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.nav-links-1 li a img{
    width: 25px;
    height: 25px;
}

.nav-links-1{
    display: flex;
    gap: 25px;
    align-items: center;
    list-style: none;
}

.social{
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-panel{
    background-color: black;
    color: white;
    height: 100%;
    width: 350px;
    position: fixed;
    padding-top: 70px;
    top: 0;
    right: -100%;
    transition: right 0.5s ease-in-out;
}

.menu-panel ul li{
    list-style: none;
    padding-bottom: 20px;
}

.menu-panel ul li a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
}

#burger {
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    display: none;
}

#burger:hover{
    border: 1px solid white;
    border-radius: 5px;
}

.close-btn {
    background-color: transparent;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
    position: absolute;
    width: 50px;
    border-radius: 5px;
    border: 1px solid white;
    top: 10px;
    right: 20px;
  }

@media screen and (min-width: 1024px) and (max-width: 1440px){
    .nav-links-2{
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    #burger {
        display: block;
    }
    .navigation-sections {
        display: none;
    }
    .header{
        justify-content: space-around;
    }
    .menu-panel.active {
        right: 0;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px){
    #burger {
        display: block;
    }
    .navigation-sections {
        display: none;
    }
    .header{
        justify-content: space-around;
    }
    .menu-panel.active {
        right: 0;
    }
    .navigation-social{
        display: none;
    }
}

@media screen and (min-width: 375px) and (max-width: 424px){
    #burger {
        display: block;
        margin-right: 10px;
    }
    .navigation-sections {
        display: none;
    }
    .navigation-social{
        display: none;
    }
    .header{
        justify-content: space-around;
    }
    .menu-panel.active {
        right: 0;
    }
    .menu-panel{
        width: 250px;
    }
    #header-talk-btn{
        display: none;
    }
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #my-logo{
        margin-left: 10px;
    }
}

@media screen and (min-width: 320px) and (max-width: 374px){
    #burger {
        display: block;
        margin-right: 10px;
    }
    .navigation-sections {
        display: none;
    }
    .navigation-social{
        display: none;
    }
    .header{
        justify-content: space-around;
    }
    .menu-panel.active {
        right: 0;
    }
    .menu-panel{
        width: 250px;
    }
    #header-talk-btn{
        display: none;
    }
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #my-logo{
        margin-left: 10px;
    }
}

@media screen and (min-width: 0px) and (max-width: 319px){
    #burger {
        display: block;
        margin-right: 10px;
    }
    .navigation-sections {
        display: none;
    }
    .navigation-social{
        display: none;
    }
    .header{
        justify-content: space-around;
    }
    .menu-panel.active {
        right: 0;
    }
    .menu-panel{
        width: 250px;
    }
    #header-talk-btn{
        display: none;
    }
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #my-logo{
        margin-left: 10px;
    }
}