.projects{
    padding-top: 100px;
    background-color: #0F0F0F;
    padding-bottom: 100px;
}

.project-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1D1D21;
    border: 1px solid #494949;
    border-radius: 20px;
}

.project-card:hover{
    box-shadow: 0rem 0rem 1rem 1rem rgba(0, 0, 255, .2);
    transform: scale(1.04);
    transition-property: all;
    transition-duration: 700ms;
    transition-timing-function: ease-in-out;
}

.project-card img{
    width: 90%;
    height: 70%;
    border-radius: 20px;
}

.project-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    padding-top: 50px;
    row-gap: 60px;
    column-gap: 60px;
    width: 60%;
}

.project-card p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 20px;
    color: #ffffff;
}

.project-sets{
    display: flex;
    justify-content: center;
}


/* responsive */

@media screen and (min-width: 1024px) and (max-width: 1440px){
    .project-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        padding-top: 50px;
        row-gap: 60px;
        column-gap: 60px;
        width: 80%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .project-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(6,1fr);
        padding-top: 50px;
        row-gap: 60px;
        width: 50%;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px){
    .project-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
        padding-top: 50px;
        row-gap: 60px;
        width: 70%;
    }
}

@media screen and (min-width: 375px) and (max-width: 424px){
    .project-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
        padding-top: 50px;
        row-gap: 60px;
        width: 80%;
    }
}

@media screen and (min-width: 320px) and (max-width: 374px){
    .project-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
        padding-top: 50px;
        row-gap: 60px;
        width: 95%;
    }
}

@media screen and (min-width: 0px) and (max-width: 319px){
    .project-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
        padding-top: 50px;
        row-gap: 60px;
        width: 90%;
    }
}